
.head{
    background-image: url('../img/contact_bg.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: block;
}
.head h1{
    color: white;
    text-align: center;
    padding-top: 300px;
}
.bod{
    display: grid;
    grid-template-columns: repeat(1fr,1fr, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
    padding: 2em;
    max-width: 100%;
    padding-left: 16%;
}
.bod img{
    max-width: 90%;
}
.bod h1{
    text-align: center;
}
@media screen and (min-width: 500px) {
    .bod{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        gap: 40px;
        padding: 2em;
        padding-left: 8%;
    }
}