.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: url("../img/home_bg.png");
    background-size: cover;
    background-position: center;
    color: #fff;
}

.home h1 {
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
}

.home button {
    padding: 0.75rem 2rem;
    border-radius: 50px;
    border: solid 3px #fff;
    background-color: transparent;
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
}

.home button:hover {
    background-color: #fff;
    color: black;
    transition: ease 0.5s;
}