.heade{
    background-image: url('../img/kayak.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .heade h1{
    color: white;
    text-align: center;
}

.heade nav ul.nav-links li .link-item, .heade .connexion, .heade .brand {
    color: #333;
}