.heade{
    background-image: url('../img/kayak.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: block;
}
 .heade h1{
    color: white;
    text-align: center;
    padding-top: 300px;
}
article img {
    max-width: 90%;
}