*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: transparent;
    transition: 1s;
}

nav.active{
    background-color: rgb(26, 26, 26);
   
}

nav ul.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul.nav-links li {
    list-style-type: none;
}

nav ul.nav-links li .link-item, .brand, .connexion{
    text-decoration: none;
    padding: 20px;
    color: #cecece;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

nav ul.nav-links li .link-item:hover, .brand:hover, .connexion:hover{
    color: #fff;
}


p{
    width: 400px;
}