 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }

 .navbar {
   width: 100%;
   height: auto;
   display: flex;
   justify-content: space-between;
   position: fixed;
   top: 0;
   background-color: transparent;
   transition: 1s;
 }

 nav.active {
   background-color: rgb(26, 26, 26);

 }

 nav ul.nav-links {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 nav ul.nav-links li{
   list-style-type: none;
 }

nav ul.nav-links li .link-item, .brand, .connexion{
    text-decoration: none;
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

 nav ul.nav-links li .link-item,
 .brand,
 .connexion {
   text-decoration: none;
   padding: 20px;
   color: #fff;
   text-transform: uppercase;
   display: block;
   font-weight: bold;
   transition: all .3s ease-in-out;
 }

 nav ul.nav-links li .link-item:hover,
 .brand:hover,
 .connexion:hover {
   color: rgb(241, 164, 21);
 }

 Menu.burger,
 #react-burger-menu-btn,
 .bm-burger-bars {
   display: none;
 }

 @media screen and (max-width: 967px) {

   Menu.burger,
   #react-burger-menu-btn,
   .bm-burger-bars {
     display: block;
   }

   /* Position and sizing of burger button */
   .bm-burger-button {
     position: fixed;
     width: 36px;
     height: 30px;
     right: 36px;
     top: 36px;

   }

   .brand {
     width: fit-content;
   }

   .navbar {
     display: none;
   }

   #react-burger-menu-btn {
     display: block;
     position: absolute;
     left: 0px;
     top: 0px;
     z-index: 1;
     width: 100%;
     height: 100%;
     margin: 0px;
     padding: 0px;
     border: none;
     font-size: 0px;
     background: #3a5466;
     cursor: pointer;
   }

   /* Color/shape of burger icon bars */
   .bm-burger-bars {
     background: #373a47;
   }


   /* Position and sizing of clickable cross button */
   .bm-cross-button {
     height: 24px;
     width: 24px;
     padding: 20px;
     color: #373a47;
   }

   /* Color/shape of close button cross */
   .bm-cross {
     background: #bdc3c7;
   }

   /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */

   .bm-menu-wrap {
     position: fixed;
     height: 100%;

   }

   /* General sidebar styles */
   .bm-menu {
     background: #373a47;
     padding: 2.5em 1.5em 0;
     font-size: 1.15em;
   }

   /* Morph shape necessary with bubble or elastic */
   .bm-morph-shape {
     fill: #373a47;
   }

   /* Wrapper for item list */
   .bm-item-list {
     color: #b8b7ad;
     padding: 0.8em;
   }

   /* Individual item */
   .bm-item {
     display: inline-block;
   }

   /* Styling of overlay */
   .bm-overlay {
     background: rgba(0, 0, 0, 0.3);
   }

   nav ul.nav-links {
     display: flex;
     justify-content: center;
     align-items: flex-start;
     flex-direction: column;
   }
 }